<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="screen-orientation" content="portrait">
	<meta name="x5-orientation" content="portrait">
	<meta name="keywords" content="前端开发工程师简历-吴荣-2018">
	<meta name="description" content="前端开发工程师简历、中级前端开发工程师、前端开发、html+css+js、node.js+react+vue+webpack/gulp">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
	<title>前端开发工程师简历-吴荣-2018</title>
</head>
	<!-- Link Swiper's CSS -->
	<link rel="stylesheet" href="css/swiper.min.css" />
	<link rel="stylesheet" href="css/website2.0.css" />
<body class="chiweb">
<!-- header -->
<h1 style="display:none;">前端开发工程师简历-吴荣-2018</h1>
<div class="header ">
<div class="headers">
	<img  style="margin-top:5px" src="images/myphoto.jpg" height="50"  alt="摩图科技" class="fL" />
	
	<span class="me tabli active">个人资料</span>
	<span class="job tabli">工作经历</span>
	<span class="project tabli">成果展示</span>
	<span class="contact tabli">联系我</span>


</div>
</div>

<div  id="width">
          <!-- about me -->
         <!--  <a name="me"></a> -->
          <div id="me" class="introBox clearfix" style="position:relative;" data-stellar-background-ratio="1">
          	<div class="introTit clearfix">
          		<p class="titContent entitle">ABOUT ME</p>
          		<p class="titContent">关于我</p>
          		<div class="imgcenter">
          			
          		</div>
          		
          	</div>
          	<div class="introContent">
          		<!-- Swiper 2-->
          		<div class="swiper2">
			<p class="spIntro">
				我叫<b>吴荣</b>，一名前端开发工程师
				<br><b>15871494583@163.com</b>
			</p>
			<p class="spIntro">
				性别：女  &nbsp;籍贯：安徽滁州   &nbsp;出生年月：1994/07  &nbsp;毕业时间：2016/07  &nbsp; 学校：华中农业大学（211工程全国重点大学）   &nbsp;信息与计算科学（本科）
			</p>
			<p class="spIntro">
			英语能力：CET-4（523）  
			技    能：  精通html、css 、html5 、css3、 js、 jquery等基础前端技能
			<br>熟悉与PHP/Java等后台语言的交互协作
			<br>熟练使用git版本控制工具
			<br>了解node.js、react的基本语法与使用
			<br>熟悉webpack、gulp前端构建工具的基本用法
			<br>熟悉微信小程序的开发技术
			<br>可独立再开发Scratch-blocks、blockly（可视化编程）
			<br>软件测试及测试报告的编写、使用DB2、oracle数据库及编写SQL语句
			</p>
          		</div>
          	</div>
          </div>
	

	<!-- 项目经验 -->
	<!-- <a name="job"></a> -->

	
	<div id="job" class="jobbox clearfix">
	<div class="introTit clearfix"><p class="titContent entitle">Jobs</p> <p class="titContent">工作经历</p></div>
		<ul class="jobcontent fL" v-for="jobli in jobdata">
			<li class="title" v-html="jobli.jobtitle"></li>
			<li class="total">{{jobli.jobtotal}}</li>
                                      <ul class="jobli" v-for="jobintroli in jobli.jobintro">
                                      	<li>{{jobintroli}}</li>
                                      </ul>
		</ul>
	</div>



	<!-- 成果展示 -->
	<!-- <a name="project"></a> -->
	<div  id="project" class="procontent">
		          <div class="introTit clearfix">
		          		<p class="titContent entitle">Projects</p>
		          		<p class="titContent">成果展示</p>	          		
		          	</div>
		<div class="banner">
		
			<div class="swiper-container swiper1">
				<div class="swiper-wrapper">
					<div class="swiper-slide"  onclick="location.href='http://scratch.spacebot.fun/'">
						<!-- <p class="infoContain">公司官网</p>
						<p class="infoTitle">贺德勤中国百年</p> -->
						<div class="s11">
							
						</div>
					</div>
					<div class="swiper-slide s1" onclick="location.href='http://www.morpx.com/zn.index.html'">
						
					</div>

					<div class="swiper-slide s2"  onclick="location.href='http://mai.morpx.com/'">
						
					</div>

					<div class="swiper-slide s3"  onclick="location.href='http://bbs.morpx.com/forum.php'">
						
					</div>

					<div class="swiper-slide s4"  onclick="location.href='http://mu.cn.morpx.com/visual'">
						
					</div>

					<div class="swiper-slide s5"  onclick="location.href='http://account.morpx.com/user/home'">
						
					</div>

					
				</div>

			</div>
			<!-- Add Pagination -->
			<div class="swiper-pagination"></div>
		</div>
	</div>
	          

	<!-- contact us -->
	<!-- <a name="contact"></a> -->
	<div id="contact" class="contactcontent">
	
		<div class="contactBox clearfix">
			<div class="ctName">
				<p class="entitle">Contact Me</p>
				<p>联系我</p>
			</div>
			<div class="contact clearfix">
			<p class="clearfix">
				<span class="c1">
					学习
				</span>
				<span class="c2">
					前端
				</span>
				<span class="c3">
					好奇
				</span>
				<span class="c4">
					挑战
				</span>
			</p>
				             <p class="content">
				             	注重需求，喜爱快速开发
				             </p>
				             <p class="content">
				             	好奇新技术，喜欢考虑新技术与已知技术的区别与联系
				             </p>
				             <p class="content">
				             	前端即兴趣，兴趣愿意接受一切挑战
				             </p>
				             <p class="content">
				             	阅遍古今中外书，不求学问；行路世间千万里，不问归途。
				             </p>
				
			</div>
		</div>
		
	</div>
	

	</div>
	
	<!-- bottom -->			             
	<div class="bottom">
		<!-- <a name="bottom"></a> -->

	<div class="bottoms clearfix">
		<img class="wxid" src="images/wxid.png" height="auto" width="220" alt="微信公众号">
		<div class="fL copyright">
		<p class="china1">Copyright © 2018 Rongwu All Rights Reserved</p>
		<div class="china"><img style="width:18px"  src="images/china.png" alt="公安备案"> <span style="height:20px;line-height:20px;margin: 0px 0px 0px 3px; color:#939393;vertical-align:4px;font-size:13px">浙公网安备 XXXXX号</span></div>
		</div>
		<div class="fR conect ">
			<a href="https://twitter.com/MU4Toys" target="_blank">
				<img src="images/t.png" height="20" width="26" alt="" style="margin-right:36px">
			</a>
			<a href="https://www.facebook.com/MU4Toys" target="_blank">
				<img src="images/f.png" height="20" width="26" alt="" style="margin-right:36px">
			</a>
				<img class="wxTool" src="images/w1.png" height="20" width="26" alt="" style="margin-right:36px">
			<a href="http://weibo.com/u/5817195534?is_all=1" target="_blank">
				<img src="images/w2.png" height="20" width="26" alt="" style="margin-right:36px">
			</a>
		</div>
	</div>     
	     
	</div>
	
	</body>
	<script typet="text/javascript" src="js/jquery.min.js"></script>
	
<script src="js/vue.min.js"></script>
<script>
           //model   --- job
	var  jobdata =[{
		jobtitle: '2016.08—至今&nbsp;&nbsp;&nbsp; 杭州摩图科技有限公司&nbsp;&nbsp;&nbsp;    web前端工程师',
		jobtotal:'负责公司前端开发：网站开发、页面数据交互、IOS/Android h5页面以及信息交互、页面动效与页面交互h5+css3、各网站优化与SEO、版本迭代、git版本库管理代码、node/react/vue新技术研究',
		jobintro: [
		'【scratch 3.0 gui】 在scratch3.0已有的形象基础上添加公司机器人的形象，第一次工作中接触node.js项目以及webpack构建工具',
		'【官网】公司官网开发，适用各设备查看，做页面自适应。手机端与PC端两套样式，使用css3的@media配合h5开发。',
		'【商城】在ECShop的基础上再开发：1、定制开发页面样式，添加交互动效，使用css3的animate属性辅助jQuery的animate()完成动态效果； 2、商城分为中英文两部分，第一次接触语言配置文件  3、研究源码，明白语义化以及注释的重要性此后养成了HTML语义化以及添加注释的习惯； 4、在原有的PHP文件中修改逻辑添加代码，从一开始的生疏到逐渐熟读并可修改部分PHP代码，熟悉了PHP一些基本语法',
		'【mu部落】后台java前端纯手写：1、建立项目目录并确定base.css/base.js； 2、配置lang.js语言配置文件，熟悉JavaScript对string类型to变量以及JavaScript对dom的操作;  3、与后台的数据交互，归纳后台的接口code的错误类型并开发错误信息提示模块;  4、使用jQuery的Ajax完成数据与文件的获取、提交，熟悉对JSON数据的解析以及将数据展示到页面的DOM处理;  5、熟练使用css3/h5开发自适应所有屏幕的网页并添加下拉刷新的功能；',
		'【统一认证服务】1、完成登录、注册、个人中心经典页面的开发； 2、设计登录注册的正则验证函数，使用JavaScript的正则表达式定义符合要求的用户名、手机号、Email、密码等正则表达式； 3、各网站统一账号状态：使用localStorage确定该用户在该设备上是否在公司其他网站已登录或已经退出登录并更新当前网站的用户状态；',
		'【可视化编程】在blockly、scratch-blocks基础上再开发：1、研究源码以及block生成的XML；  2、自定义编程块；  3、添加限制输入框数值范围功能 4、按照行为树生成规则，解析XML  5、App中使用h5页面:h5与IOS、Android的数据交互',
		'【交友-微信小程序】利用下班时间与同事一起体验微信小程序开发：1、熟悉微信小程序技术文档； 2、开发一款可以登录、建群、加群、发布群动态、加好友、消息展示等的微信小程序；一边开发一边学习并最后完成前端开发以及与后台的数据交互；'
		]
	},{
		jobtitle: '2015.11—2016.06    &nbsp;&nbsp;&nbsp;  南京飞圣网络有限公司    &nbsp;&nbsp;&nbsp;web前端开发实习生',
		jobtotal:'单页面开发、熟练使用Photoshop切图，采色，测量等、熟练使用less书写页面style、熟练掌握浏览器样式与JavaScript调试等。独立开发飞圣官网，商城，并掌握基础的SEO优化。',
		jobintro:[
		'【商城】开发鲸鱼购物网页版平台（php后台语言） ：1、包括商城首页、商品详情页、购物车、个人中心、我的订单等页面的前端页面开发； 2、熟练使用PS切图、测色、测量大小； 3、熟练使用HTML、CSS、JavaScript快速开发单页面； 4、开始接触与后台的数据交互使用jQuery得到AJAX传输与与获取数据；',
		'【管理后台】鲸鱼购物后台管理系统：1、订单管理页面、店铺预览页面； 2、使用less快速将CSS函数化； 3、熟悉JavaScript的数组操作、对象操作、DOM操作等； 4、熟练使用jQuery快速进行页面数据展示；'
		]
	},{
		jobtitle: '2015.05—09     &nbsp;&nbsp;&nbsp;        亚信科技（中国）有限公司   &nbsp;&nbsp;&nbsp;     Web前端开发实习生',
		jobtotal:'掌握SQL语句书写，数据库基础操作；网站测试以及测试文档的书写；熟悉div+css+javascript页面开发',
		jobintro:[
		'【经分项目】—移动经营分析数据仓库工作台：负责网页非灵活结构的灵活化：修改JavaScript代码将4个复杂网页抽取出来， 设计关联表将数据存入DB2数据库，书写页面SQL语言调用数据库，实现页面显示以及页面修改、计算与保存；',
		'【电力短信平台项目】湖北省电力公司短信平台：1、负责开发方对网站的测试，包括页面交互测试，页面交互与数据库更新的测试等； 2、通过对页面的测试、数据库的操作初步理解了网站的数据交互与展示的流程； 3、深刻理解Web标准与可访问性、熟练运用HTML标签、熟悉JavaScript、操作与配置DB2和Oracle数据库、熟悉SQL语句的书写；'
		]
	}
	]
         
          //创建ViewModel
          //连接view  model
          new Vue({
          	el:'#width',
          	data:jobdata
          })
</script>
<!-- Swiper JS  banner-->
<script src="js/swiper.min.js"></script>
	<script src="js/script.js"></script>
    <script>
    
            	$('.downlog .iosbox').hover(function(){
    			$(this).children('.iosbtn').attr('src','images/iosbtn.png');
    		},function(){
    			$(this).children('.iosbtn').attr('src','images/iosbtn2.png');
    		});
        		$('.downlog .androidbox').hover(function(){
			$(this).children('.androidbtn').attr('src','images/androidbtn.png');
		},function(){
			$(this).children('.androidbtn').attr('src','images/androidbtn2.png');
		});
	           $('.downlog .pcbox').hover(function(){
			$(this).children('.pcbtn').attr('src','images/pcbtn.png');
		},function(){
			$(this).children('.pcbtn').attr('src','images/pcbtn2.png');
		});
    		function isWeiXin(){ 
			var ua = window.navigator.userAgent.toLowerCase(); 
			if(ua.match(/MicroMessenger/i) == 'micromessenger'){ 
			return true; 
			}else{ 
			return false; 
			} 
		} 
		$(function(){
			if(isWeiXin()){
				$('.androidbox').attr('href','http://sj.qq.com/myapp/detail.htm?apkName=morpx.mu');
			}
		      
		})
    </script>


</html>