/* base.css */
a,blockquote,body,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,html,img,input,label,li,ol,p,pre,td,th,ul{margin:0;padding:0;border:0;outline:0}
body{line-height:auto;font-size:100%;box-sizing:border-box}
h1,h2,h3,h4,h5,h6{font-size:100%;padding:0;margin:0}
ol,ul{list-style:none}
a{text-decoration:none;outline:0}
a:hover{text-decoration:none;outline:0}
a:focus{outline:0;text-decoration:none}
.clearfix{zoom:1}
.clearfix:after,.clearfix:before{display:table;line-height:0;content:""}
.clearfix:after{clear:both}
.fR{float:right}
.fL{float:left}
html{font-size:16px;font-family:'Microsoft YaHei';}
#width{width:100%;margin:0 auto;}
.dwt {
    width: 100%;
    height: 100%;
    z-index: 28;
    position: fixed;
    background: rgba(0,0,0,0.4);
    left: 0;
    right: 0;
    top: 0;
}
@font-face{font-family:'Glyphicons Halflings';src:url(../fonts/glyphicons-halflings-regular.eot);src:url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),url(../fonts/glyphicons-halflings-regular.woff) format('woff'),url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'),url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')}
#width:before{
    content: "";
    height: 60px;
    width: 100%;
    display: block;

}

/* 头部样式 */
.header{box-shadow: 1px 0.5px #8a8a8a;line-height:60px;border-bottom:solid 2px #ff6607;color:#888;width:100%;z-index:10;background:#fff;position:fixed}
.headers{
	margin: 0 auto;
	    padding-left: 20px;
	    box-sizing: border-box;
	    max-width: 1220px;
	    position: relative;
}
.header a{color:#888}
.header a:hover{color:#ff6607}
.header a:active{color:#ff6607}
.header span{margin-left:30px}
.tabli:hover{font-size:18px;color:#f63;cursor:pointer;}
.tabli.active {
    color: #f63;
    font-size: 17px;
}
.chiweb .chinese,.enweb .english{position:absolute;right:134px;top:20px;display:inline-block;width:68px;height:20px;text-align:center;vertical-align:middle;padding:0;line-height:20px;margin:0;margin-right:10px}
.chiweb .english,.enweb .chinese{position:absolute;right:60px;top:20px;display:inline-block;width:68px;height:20px;border-left:solid 1px #dcdcdc;text-align:center;vertical-align:middle;padding:0;line-height:20px;margin:0;color:#dcdcdc;padding-left:10px}
.chiweb .english:hover,.enweb .chinese:hover{color:#888}
.chinese{width:50px!important}
/**banner样式*/
.swiper-container{width:100%;height:100%;z-index:1}
.swiper-slide{text-align:left;font-size:14px}
.banner{text-align:left;height:640px;max-width: 800px;
    margin: 30px auto;
}
.s11{box-sizing:border-box;background-color:#d56;padding:260px 0 0 280px}
.s1{box-sizing:border-box;background-color:#d56;padding:260px 0 0 280px}
.s2{box-sizing:border-box;background-color:#f43;padding:260px 0 0 280px}
.s3{box-sizing:border-box;background-color:#433;padding:260px 0 0 280px}
.s4,.s5{box-sizing:border-box;background-color:#433;padding:260px 0 0 280px}
.s7{box-sizing:border-box;background-color:#f1626e;padding:260px 0 0 280px}
/* .s3 .infoContain,.s4 .infoContain {margin-top: 8%;margin-left:10%;}
.s3 .infoTitle, .s4 .infoTitle{ margin-left:10%;} */
.infoContain{font-size:34px;margin-bottom:15px}
.infoTitle{font-size:24px;width:90%}
.buyBtn{width:100px;line-height:30px;border:solid 1px #ff6607;text-align:center;color:#ff6607;border-radius:4px}
.enweb .buyBtn{width:130px;}
.buyBtn:hover{background-color:#ff6607;color:#fff}
.toolBar{padding-top:30px}
.toolBar a{color:#fff}
.tool1{margin-right:30px;margin-top:9px}
.tool2{margin-right:30px;margin-top:9px}
.swiper1{color:#fff}

.introBox{background-color:#de5;padding-top:50px;padding-bottom:80px}
.introTit{box-sizing:border-box;width:100%;padding: 0 20px;margin-bottom:15px;}
.introTit .titContent{float:none;margin:0 auto;color:#ffffff;}

.titContent {
    border-radius: 50%;
    color: #fff;
    text-align: center;
    float: right;
    font-size: 24px;
}.swiper2{color:#fff}
.swiper2 .swiper-pagination-bullet{width:10px;height:10px;border-radius:50%;background:0 0;opacity:1;border:solid 1px #fff}
.swiper2 .swiper-pagination-bullet-active{width:10px;height:10px;border-radius:50%;background:#fff;opacity:1;border:solid 1px #fff}
.swiper2.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{margin:14px 0;display:block}
.spIntro{font-size:16px;line-height:30px;}
.spHeader{font-size:30px;font-weight:700;margin-bottom:25px}
.introContent{width:100%;max-width:1200px;foat:none;margin:0 auto;}
.enweb .introContent{height:275px}
.chiweb .introContent{padding-top:20px}
.cpBtnBox{padding-top:50px;max-width:1200px;margin:0 auto;margin-bottom: 10px;}
/*商务合作 css*/
.coopBtn{color:#ff6607;font-size:24px;margin:0 auto;text-align:center}
.coopBox{padding:30px 30px 0 30px;box-sizing:border-box}
/* .chiweb .coop1,.chiweb .coop2{margin-left:50px;margin-bottom:30px}
.coop2{width:500px;float:right;font-size:14px} */
.coopcontent{background: url(../images/bg2.jpg) repeat;background-color: #f3f3f3;}
.contactcontent{background-color: #f3f3f3;}
.coopTitle{text-align:center;font-size:16px;font-weight:700;margin-bottom:10px}
.coop1 {
    width: 30%;
    margin: 0 1.5%;
    float: left;
    border: solid 1px #dcdcdc;
    box-sizing: border-box;
    padding: 20px;
    height: 360px;
    text-align: center;
    background: white;
}
.coop2 {
    	width: 30%;
    	margin: 0 1.5%;
    	float: left;
    	border: solid 1px #dcdcdc;
    	box-sizing: border-box;
    	padding: 20px;
    	height: 360px;
    	text-align: center;
    	background: white;
}
.coop3 {
	width: 30%;
	float: left;
	margin: 0 1.5%;
	border: solid 1px #dcdcdc;
	box-sizing: border-box;
	padding: 20px;
	height: 360px;
	text-align: center;
	background: white;
}
.enweb .coop1, .enweb .coop2,.enweb .coop3{
    height: 500px;
}

.coop1:hover,.coop2:hover,.coop3:hover{
	box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.coop1 p
,.coop2 p
,.coop3 p{
	text-align: left;
}
.coop1 .coopTitle
,.coop2 .coopTitle
,.coop3 .coopTitle{
	text-align: center;
}
.chiweb .introTit {padding-top: 0;}
 .coop1 img,.coop2 img,.coop3 img{    margin: 0 auto;margin-bottom: 25px;
    margin-top: 10px;}
 .coopBox{padding:45px 0px 50px 0px}
/* .enweb .coop1 img,.enweb .coop2 img{margin-left:145px;margin-bottom:30px} */
.enweb .coopBtn{width:330px}
.nation{font-size:15px;margin-top:6px}
.contactBox{
	padding-bottom:40px;
	width:100%; 
}

.contactBox  .contact {width: 100%;box-sizing: border-box;color: #333333;word-break: break-all;font-size: 16px;padding-top: 60px;max-width: 1200px;margin: 0 auto;padding: 0 20px;text-align: center;line-height: 35px;}
.ctName{height:41px;text-align:center;    font-size: 24px;font-weight: normal;margin-top:10px;color:#ff6607;}
.ctDetail{line-height:22px;}
.swiper3{padding-top:66px}
.jobBox{background-color:#dcdcdc;color:#fff;height:460px;overflow:hidden;min-width:490px;max-width:1200px;margin:0 auto;margin-bottom: 60px;margin-top: 40px;}
.jobTitle{width:50%;min-height:460px;float:left;overflow:hidden}
.jobs{width:50%;height:460px;background-color:#333;float:right;min-width:490px}

.enweb  .jobBox{height:600px}
.enweb  .jobs{height:600px}

.jobChance{width:135px;margin:30px;margin-bottom:0;margin-left: 20px;padding-bottom:6px;font-size:24px;font-weight:normal;display:inline-block;float:left;position:absolute;top:-5px}
.muInvite{width:640px}

.jobs .swiper-pagination-bullet{width:10px;height:10px;display:inline-block;border-radius:100%;background:0 0;border-radius:0;margin-right:20px!important;border:solid 1px #333}
.jobs .swiper-pagination-bullet-active{background:#343434}
.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{margin:12px 0;display:block}
.muInvite{margin-top:8px}
.email{color:#ff6607;text-decoration:underline}
.email:hover{text-decoration:underline;font-size:15px}
.swipBox{position:absolute;top:30px;left:50%;width:200px;height:30px}
.jobs .swiper-pagination-fraction,.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom{top:-11px;left:27%;position:absolute;text-align:center;z-index:20;height:20px}
.jobs .swiper-button-next,.swiper-container-rtl .swiper-button-prev{background-image:none}
.jobs .swiper-button-prev,.jobs .swiper-button-next{color:#8a8a8a;border:solid 1px #fff;position:absolute;top:42px;width:24px;height:12px;line-height:12px;text-align:center}
.jobs .swiper-button-prev:hover,.jobs .swiper-button-next:hover{background-color:#fff}
.jobs .swiper-button-prev,.swiper-container-rtl .swiper-button-next{background-image:none;right:26%;left:auto}
.jobs .swiper-pagination.swiper-pagination-fraction{color:#8a8a8a}
.jobs span.swiper-pagination-current{font-size:24px;color:#fff}
body{position:relative;}
/* #width:after{content:"";display:block;width:100%;height:40px} */
.bottoms.clearfix{width:100%;padding: 20px;box-sizing: border-box;}
.bottom{background-color:#313131;line-height:50px;width:100%;z-index:10}
.copyright{width:60%;text-align:center;color:#fff;background: #313131;}
.conect{height:50px;box-sizing:border-box;width:40%;line-height:50px;padding-top:4px}
.wxid{display:none;position:absolute;bottom:55px;right:19%;z-index:20}
.china{line-height:20px;background: #313131;padding-bottom: 5px;}
.china1{line-height:20px;color:#939393;margin-top:12px}

.s11,
.s1,
.s2,
.s3,
.s4,
.s5{height:100%;}

.s11{background-image:url(../images/pro6.png);background-size:cover;background-position:center center}
.s1{background-image:url(../images/pro1.png);background-size:cover;background-position:center center}
.s2{background-size:cover;background-image:url(../images/pro2.png);background-position:center center}
.s3{background-size:cover;background-image:url(../images/pro3.png);background-position:center center}
.s4{background-size:cover;background-image:url(../images/pro4.png);background-position:center center}
.s5{background-size:cover;background-image:url(../images/pro5.png);background-position:center center}
.introBox{background-size:cover;position:relative;background-image:url(../images/aboutus2.jpg);background-position-x:0!important}
.coopBox{max-width: 1220px;margin: 0 auto;background-size:cover;position:relative;padding-left: 0px;padding-right: 0px;}
.contactBox{
	background-size: cover;
	background-image: url(../images/contact.jpg);
	padding-top: 50px;
	background-repeat: repeat;
	box-sizing: border-box;
	height: 400px;
	max-width: 1200px;
	margin: 0 auto;
}
.jobBox{background-size: auto 100%;background-image:url(../images/job.png);background-position-x:0!important}
.swiper1 .swiper-button-next{display:inline-block;font-weight:400;font-style:normal;font-family:'Glyphicons Halflings';line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;
font-size: 35px;
color: #8a8a8a;
text-align: center;
text-shadow: none;
filter: alpha(opacity=50);}
.swiper1 .swiper-button-prev{display:inline-block;font-weight:400;font-style:normal;font-family:'Glyphicons Halflings';line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;	
             font-size: 35px;
	color: #8a8a8a;
	text-align: center;
	text-shadow: none;
	filter: alpha(opacity=50);}
	.swiper1 .swiper-button-prev:before{content:"\e079"}
	.swiper1 .swiper-button-next:before{content:"\e080"}
	.swiper1 .swiper-button-next{
	    background-image: none;
	    right: 15px;
	    left: auto;
	    opacity: .5;
	}
	.swiper1 .swiper-button-prev{
		position: absolute;
		background-image: none;
		right: 10px;
		left: auto;
		left: 15px;
		opacity: .5;
	}
	.swiper1 .swiper-button-prev:hover{
		opacity: 1;
	}
	.swiper1 .swiper-button-next:hover{
		opacity: 1;
	}

/**
 * 官网更新
 * 教育内容添加
 * 2017.7.13
 */
 /*!*字体   方正兰亭*!*/
 @font-face {
	   font-family: 'zektonbo';
	   src: url('fonts/spacebot.TTF');
	   font-weight: normal;
	   font-style: normal;
 }
.entitle{
	font-family: "zektonbo";
	font-size: 34px;
	color: #333;
}
.jobChance.entitle {
    position: absolute;
    top: -15px;
    color: #ffffff;
}
.jobChance{
	top: 28px;
}
.ctName {
    height: auto;
    margin-bottom: 20px;
}

.ctDetail {
    float: left;
    width: 31%;
    margin-right: 2.3%;
    box-sizing: border-box;
}
.ctDetail img{
	width: 100%;
}
.center{
	text-align: center;
}

/**
 * 个人简历页面样式start
 */
            .email:hover{
            cursor: pointer;
            }
                      /* 工作经历 */
                      .jobbox{
                        background: #945c4c;
                        padding: 36px 0;
                      }
                      ul.jobcontent {
                          padding: 30px 60px;
                          line-height: 35px;
                          font-size: 16px;
                          box-sizing: border-box;
                          border-radius: 20px;
                              background: white;
                              width: 80%;
                              margin: 36px auto;
                              float: none;
                      }
                      .jobcontent .title{
                        font-size: 20px;
                        font-weight: bold;
                        color: #945C4C;
                      }
                      .jobcontent .total{
                        font-size: 16px;
                        font-weight: bold;
                        margin: 20px 0;
                        color:#AF7464;
                      }
                      .jobli li {
                          margin-bottom: 6px;
                      }
                      .jobli li:before{
                          content: "";
                          width: 6px;
                          height: 6px;
                          border-radius: 50%;
                          background: #945C4C;
            display: inline-block;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
                      }
            /* 成果展示经验 */
            .imgcenter{
                width: 150px;
                height: 150px;
                text-align: center;
                border-radius: 50%;
                background-image: url(../images/myphoto.jpg);
            background-position: top center;
            background-size: cover;
            background-repeat: no-repeat;
            margin: 20px auto 0;
            }
            .swiper-pagination.swiper-pagination-bullets {
                text-align: center;
                margin: 0 auto;
                left: 0;
                right: 0;
            }
            .swiper-pagination-bullet {
                margin: 0 3px;
            }
            .procontent {
                background: #a29971;
                padding: 30px 0;
                /* padding-top: 80px; */
            }

        /* 联系我 */

              .c1 {
                font-size: 16px;
                font-weight: bold;
                margin: 0 8px;
                color: red;
                text-shadow: 0 1px 3px rgba(0,0,0,0.6);
            }
                .c2 {
                  font-size: 16px;
                  font-weight: bold;
                  margin: 0 8px;
                  color: #3cf;
                  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
                }
            .c3 {
               font-size: 16px;
                   font-weight: bold;
                   margin: 0 8px;
                   color: #6c0;
                   text-shadow: 0 1px 3px rgba(0,0,0,0.6);
            }
            .c4 {
                font-size: 16px;
                    font-weight: bold;
                    margin: 0 8px;
                    color: #f63;
                    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
            }
/**
 * 个人简历样式end
 */

@media screen and (max-width:1440px) and (min-width:1270px){
	.s11,.s1,.s2,.s3,.s4,.s5,.s7{padding-left:140px;padding-top:160px}
}
@media screen and (max-width:1270px){.introTit .titContent{float:none;margin:0 auto;}
.introTit{box-sizing:border-box;width:100%;padding-right:0;float:none}
.introContent{width:90%;float:none;margin:0 auto;text-align:center}
.spHeader{margin-bottom:25px;text-align:center}
.spIntro{width:100%}
/* .chiweb .introContent{height:150px} */
}
@media screen and (max-width:1270px) and (min-width:850px){.banner{height:600px}
.s11,.s1,.s2,.s3,.s4,.s5,.s7{padding-left:120px;padding-top:150px}
}


@media screen and (max-width:430px){.chiweb .jobs{height:630px}
.jobs, .jobBox{height:auto !important;}
}
@media screen and (max-width:480px) and (min-width:400px){
.enweb .jobs{height:680px}
.enweb .jobBox{height:680px}
.jobName{line-height:26px}
}

@media screen and (min-width:900px) and (max-width:1000px){
	.enweb .coop1, .enweb .coop2,.enweb .coop3{
	    height: 540px;
	}

}
@media screen and (min-width:600px)  and (max-width:900px) {
    .fL.downbox{margin-top:0;}
.nap{
    width: 100%;
    float: none;
    height: auto;
    margin: 0;
}
.fL.downbox {
    padding-top: 100px;
    margin: 0 auto;
    float: none;
    padding: 0 20px;
    box-sizing: border-box;
    padding-top: 15px;
    float:none;
    width: 80%;
}
.downlog .downintro {
    padding-right: 0px;
    margin-bottom: 20px;
}
.bottom {
    height: 102px;
}
p.downtitle {
    font-size: 34px;
    margin-bottom: 3px;
    }
    .copyright {
        width: 100%;
        text-align: center;
        color: #fff;
        height: 52px;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .conect {
        height: 46px;
        box-sizing: border-box;
        width: 100%;
        line-height: 50px;
        padding-top: 4px;
        background: #313131;
        text-align: center;
        position: absolute;
        bottom: 48px;
        left: 0;
        right: 0;
    }
    .coopBox{padding:30px 50px 20px 50px;background-position:50%}
    .coop2{width:100%;    max-width: 600px;margin:0 auto;display:block;float:none;margin-top:20px;margin-bottom:20px;height:auto !important;}
    .coop1{width:100%;    max-width: 600px;margin:0 auto;display:block;float:none;height:auto !important;}
    .coop3{width:100%;    max-width: 600px;margin:0 auto;display:block;float:none;margin-top:20px;margin-bottom:38px;height:auto !important;}
    .coopBox{padding:0}
    .coop1 img,.coop2 img,.coop2 img{    margin: 0 auto;margin-bottom:30px}
    .banner{height:400px}
    .s2,.s3,.s4,.s5,.s7{padding-left:100px;padding-top:130px}
    .s11,.s1{padding-left:100px;padding-top:130px}
}

/*手机端样式*/
@media screen and (max-width:600px) {

.ctDetail,.ctDetail {
	font-size:15px;
	line-height:22px;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    padding-bottom: 10px;
    text-align: center;
}
.ctName {
margin-bottom: 20px;
}
.contactBox {
    padding-bottom: 10px;
    height: auto;
}
.fL.downbox {
    padding-top: 100px;
    margin: 0 auto;
    float: none;
    padding: 0 15px;
    box-sizing: border-box;
    padding-top: 15px;
    width: auto;
}
.nap img{
    width: 100%;
}
.nap{
    width: 100%;
    float: none;
    height: auto;
}
.downlog.fL {
    width: auto;
}
.nap{
    width: 100%;
    float: none;
    height: auto;
    margin: 0;
}
.fL.downbox {
    padding-top: 100px;
    margin: 0 auto;
    float: none;
    padding: 0 20px;
    box-sizing: border-box;
    padding-top: 15px;
    float:none;
}
.downlog .downintro {
	padding-right: 0px;
	margin-bottom: 10px;
	margin-top: 15px;
}
p.downtitle {
	font-size: 26px;
	margin-bottom: 0;
	line-height: 32px;
    }
    .downlog img {
        width: 90%;
    }
    .androidbtn {
        margin-top: 10px;
    }
    .downlog.fL a {
        width: 80px;
    }
    .iosbtn,.pcbtn {
        margin-top: 10px;
    }
    .download.clearfix {
        padding: 35px 0;
       } 
       .entitle {
           font-size: 30px;
       }
       	.swiper1 .swiper-button-next,
       	.swiper1 .swiper-button-prev{
       		display: none;
       	}
       	.banner{height:300px}
       .s2,.s3,.s4,.s5,.s7{padding-left:50px;padding-top:22px}
       .s11,.s1{padding-left:50px;padding-top:30px}
       .toolBar{padding-top:16px}
       .infoTitle{font-size:15px}
       .infoContain{font-size:18px;margin-bottom:5px}

       .headers img{width:0;height:22.5px;margin-top:19px!important}
       .header span{margin-left:11px}
       .enweb .header span{margin-left:10px}
       .chiweb .chinese,.enweb .english{right:100px}
       .chiweb .english,.enweb .chinese{
       	right:30px;
       	position: relative;
       	right: 0;
       	top: 0;
       }
       .chiweb .chinese{display:none}
       .enweb .english{display:none}
       .chiweb .english,.enweb .chinese{border:none}
       .jobs{width:100%;height:600px;background-color:rgba(0,0,0,0.3);float:right;min-width:320px}
       .jobs .swiper-pagination.swiper-pagination-fraction,.jobs .swiper-button-prev, .jobs .swiper-button-next{color:#f4f4f4;}

       .jobBox{background-color:#dcdcdc;color:#fff;height:600px;overflow:hidden;min-width:320px}
       .swipBox{width:145px}
       .enweb .coopBtn{width:300px}
       .ctName{font-size:24px;margin-top:5px;}

       .nation{font-size:13px;margin-top:6px}
       #width{margin-bottom:40px}
       .bottoms.clearfix{width:100%;height:50px}
       .copyright {
           width: 100%;
           text-align: center;
           color: #fff;
           height: 52px;
           position: absolute;
           bottom: 0;
           left: 0;
       }

       .conect {
           height: 46px;
           box-sizing: border-box;
           width: 100%;
           line-height: 50px;
           padding-top: 4px;
           background: #313131;
           text-align: center;
           position: absolute;
           bottom: 48px;
           left: 0;
           right: 0;
       }.coopBox{padding:30px 50px 20px 50px;background-position:50%}
       .coop2{width:100%; margin:0 auto;display:block;float:none;margin-top:20px;margin-bottom:20px;height:auto !important;}
       .coop1{width:100%; margin:0 auto;display:block;float:none;height:auto !important;}
       .coop3{width:100%; margin:0 auto;display:block;float:none;margin-top:20px;margin-bottom:38px;height:auto !important;}
       .coopBox{padding:0}
       .coop1 img,.coop2 img,.coop2 img{    margin: 0 auto;margin-bottom:30px}
       .banner{height:400px}
       .s2,.s3,.s4,.s5,.s7{padding-left:40px;padding-top:30px}
       .s11,.s1{padding-left:40px;padding-top:30px}
       /**
        * 我的简历手机端样式微调
        */
       ul.jobcontent {
           padding: 20px;
           width: 90%;
           margin: 26px auto;
       }
}



.downlog .doublecord{
    width: 100px;
}

